{% extends 'user/base.html' %}

{% block content %}

{% include "user/nav.html" %}

<section class="page-section clearfix" id="about_us">
    <div class="container">
      <div class="row">
          <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                  <h2 class="section-heading mb-4">
                      <span class="section-heading-upper">Our Promise</span>
                      <span class="section-heading-lower">To You</span>
                  </h2>
                  <p>When you walk into our shop to start your day, we are dedicated to providing you with friendly service. A welcoming atmosphere, and above all, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
              </div>
          </div>
      </div>
    </div>
</section>

<section class="page-section about-heading" id="about_us">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{url_for('static', filename='images/about.jpg')}}" alt="faraway fresh" />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Online Shopping, Order Deliveries</span>
                            <span class="section-heading-lower">About Our Store</span>
                        </h2>
                        <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
                        <p class="mb-0">
                            We guarantee that you will fall in
                            <em>lust</em>
                            with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
