
  <div class="container mb-5" id="media_icons"> 
    <ul>
      <li>
          <a href="https://www.facebook.com/faraway.E.store">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=farawayecommerce@gmail.com&su=SUBJECT&body=BODY&bcc=">
          <i class="fa fa-google" aria-hidden="true"></i>
          <!--span> - Twitter</span-->
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <!--span> - Google</span-->
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <!--span> - Instagram</span-->
        </a>
      </li>
   </div>
