			<div class="container">
				<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
					<div class="col-lg-12 d-block">
						<div class="row d-flex">
							<div class="col-md pr-2 d-flex topper align-items-center">
								<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
								<span class="text">+ 267 77 703 434</span>
							</div>
							<div class="col-md pr-2 d-flex topper align-items-center">
								<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
								<span class="text">farawayecommerce@gmail.com</span>
							</div>
							<div class="col-md pr-3 d-flex topper align-items-center text-lg-right">
								<span class="text"> Delivery within 48hrs(2 business days) &amp; Free Returns</span>
							</div>
						</div>
					</div>
				</div>
			</div>
